html, body {
  height: 100%;
}
body {
    background-image: url("../Images/body_background.png");
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    overflow-y: scroll;
    color: #777777;
}
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -60px;
}
.navbar {
    padding: 0;
    border-bottom: solid #cccccc 2px;
}
.navbar-expand {
    flex-flow: row wrap;
}
.navbar-brand {
    margin: 0;
}
#my-name {
    background-color: #4aaaa5;
    padding: 20px;
    color: #ffffff;
    font-size: 32px;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    margin-left: 2%;
}
#navbarNav {
    margin-right: 2%;
}
@media only screen and ( max-width: 575px ) { /* Could not figure out a reasonable solution to this that did not include an inordinate amount of code and/or JS */
    #my-name {
        margin: 0;
        width: 100%;
        text-align: center;
        padding: 20px 0 20px 0;
    }
    #navbarNav {
        margin: auto;
        text-align: center;
        padding: 12px 0 12px;
    }
}
.font-18px {
    font-size: 18px;
}
.nav-divider {
    height: 18px;
    margin: 12px 2px 12px 2px;
    width: 0.5px;
    border-right: solid #cccccc 0.5px;
}
#main {
    margin: 2%;
}
#content {
    box-sizing: border-box;
    padding: 20px;
    background-color: #ffffff;
    border: solid #dddddd 1px;
}
h2 {
    color: #4aaaa5;
    font-size: 28px;
    font-weight: bold;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}
#main-divider {
    margin: 24px auto 18px auto;
    border: solid #cccccc 1px;
}
img {
    width: 100%;
}
#profile-picture {
    padding: 10px 0 10px;
}
#bio {
    margin: 0;
    line-height: 2em;
}
.margin-bottom {
    margin-bottom: calc( 3% + 10px );
}
.portfolio-image-text {
    position: absolute;
    bottom: calc( 1% + 10px );
    left: 15px; /* Offsets the left side 15px margin in bootstrap */
    padding-top: 3%;
    padding-bottom: 3%;
    font-size: 20px;
    width: calc( 100% - 30px ); /* Offsets both side 15px margins in bootstrap */
    background-color: #4aaaa5;
    text-align: center;
    color: #ffffff;
}
h4 {
    margin-bottom: 8px;
    font-weight: normal;
}
.input-text, textarea {
    width: 100%;
    box-sizing: border-box;
    border: solid #cccccc 1px;
    line-height: 1.2em;
    padding: 10px;
    font-family: inherit;
    color: inherit;
    font-size: 14px;
}
.input-text {
    margin-bottom: 12px;
}
textarea {
    resize: vertical;
    margin: 0 0 18px 0;
    min-height: 150px;
    max-height: 300px;
}
#input-submit {
    text-align: center;
    display: block;
    font-size: 18px;
    padding: 10px 30px 12px 30px;
    background-color: #4aaaa5;
    color: #ffffff;
    border: none;
}
#input-submit:hover {
    background-color: #FFA500;
    transition: 0.1s;
}
#footer, #footer-fix {
    height: 60px;
}
#footer {
    margin: 0;
    border-top: solid #4aaaa5 8px;
    background-color: #666666;
    color: #ffffff;
}
#copyright {
    text-align: center;
    font-size: 12px;
    margin-top: 15px;
}